<div class="navbar-header " > 
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         
          
				<div id="logo_text" style="display:inline-block; margin-top: 0%">
					<span style="font-size: 1.20em;font-weight: bold; ">Ministry of Health</span><br />
					<span style="font-size: 0.95em;font-weight: bold;">Disease Surveillance and Response Unit</span><br/>
					<span style="font-size: 0.95em;">Electronic Intergreted Disease Surveillance and Response</span><br />	
					<span style="font-size: 0.95em; font-weight: bold;">Developed By:</span><br />
					<span>
					
				
                   
                   </span>
				</div>
				
						
				
        </div>