.slide-desc-bg {
	background: #222;
	opacity: 0.6;
	filter: alpha(opacity = 60);
}
.slide-desc-text {
	color: #fff;
	padding: 10px;
	text-align: left;
}
.slide-desc-text .slide-title {
	font-size: 1.5em;
	color: #eeee88;
	margin-bottom: 5px;
}
.slide-desc-text .slide-title a {
	color: #eeee88;
}
.djslider .navigation-container a {
	outline: none;
}
.djslider-loader {
	background: url(loader.gif) center center no-repeat;
}

.djslider li {
	text-align: center;
}

span.load-button {
	width: 12px;
	height: 12px;
	display: inline-block;
	background: #222;
	border: 1px solid #fff;
	box-shadow: 0 0 2px #fff;
	margin: 0 3px;
	cursor: pointer;
	border-radius: 7px;
	opacity: 0.4;
	filter: alpha(opacity = 40);
}
span.load-button-active {
	opacity: 0.8;
	filter: alpha(opacity = 80);
}

/*** image on the left and 100% height of description area ***/
/*
#slider45 li {
	text-align: left;
}
#slider45 .slide-desc,
#slider45 .slide-desc-in {
	height: 100%;
}
#slider45 .slide-desc-bg {
	opacity: 1;
	filter: alpha(opacity = 100);
}
*/
